@model IEnumerable<Information_Center.Models.Enrollment>
@{
    ViewBag.Title = "GetInstructorStudents";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.active4 = "active";
}
<style>
    table{
        margin-bottom:50px ;
    }
</style>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m=> m.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m=> m.Student.Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.Student.Name
                    </td>
                    <td>
                        @item.Student.Email
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

